---
import { Icon } from "astro-icon"
import { Image } from "astro:assets"

import ForestScene from "~/assets/images/forest-scene.jpg";
import Logo from "~/assets/images/nicki-logo.png";
import CoffeeCat from "~/assets/images/coffee-cat.gif";

import { Showcase } from "../components/showcase.tsx";
---

<html lang="en" data-theme="forest" class="bg-base-100" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎨</text></svg>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Nicki Newell Art</title>
  </head>
  <body>
    <div class="overflow-x-hidden">

      <nav class="navbar bg-neutral text-neutral-content">
        <ul class="menu menu-horizontal px-1 flex-nowrap overflow-auto overflow-y-hidden md:overflow-hidden">
          <li><a class="link text-xl decoration-accent" href="/" aria-label="Home">Home</a></li>
          <li><a class="link" href="/about" aria-label="About">About</a></li>
          <li><a class="link" href="https://nicki.thenewells.us" target="_blank" aria-label="Portfolio">Portfolio</a></li>
          <li><a class="link" href="/supportme" aria-label="Support Me">Support Me</a></li>
          <li><a class="link" href="https://ko-fi.com/nickinewellart/commissions" target="_blank" aria-label="Commissions">Commissions</a></li>
          <li><a class="link" href="/blog" aria-label="Blog">Blog</a></li>
          <li>
            <a class="link" href="https://store.nickinewell.art" target="_blank" aria-label="Store">
              <span>Shop</span>
              <Icon pack="uil" name="store" class="w-6 h-6"/>
            </a>
          </li>
        </ul>
      </nav>

      <section class="relative text-center min-h-[100vh] text-neutral-content bg-gradient-to-b from-base-100 to-neutral-focus">
        <p class="text-center mx-auto text-xl mt-8 mb-4 md:mt-24">Welcome to the Art of</p>
        <Image
          class="mx-auto -mt-14 -mb-14 md:-mt-36 md:-mb-36 lg:-mt-48 lg:-mb-40 min-w-[528px] max-w-[850px] w-[90vw] lg:w-auto object-contains"
          width={Logo.width} height={Logo.height} src={Logo}
          alt="Nicki Newell Art"
        />
        <p class="italic mt-16">Enter the Forest</p>
        <p class="animate-bounce mx-auto mt-8 text-8xl md:text-4xl text-warning [-webkit-text-stroke:5px_hsl(var(--wa))]">↓</p>
      </section>

      <section class="relative m-0 p-0 bg-neutral-focus overflow-hidden min-h-[100vh] h-[100vh] w-[100vw]">
        <Showcase client:visible image={ForestScene} />
      </section>


      <section class="min-h-[40vh] bg-gradient-to-b to-base-100 from-neutral-focus">
      </section>

      <section class="bg-base-100">

        <div class="relative md:flex justify-center pt-10 pb-36">

          <div class="w-80vw md:w-1/2 h-fit lg:h-48 bg-base-content text-primary-content p-8 mt-16 z-10">
            <h2 class="font-thin leading-loose text-2xl md:text-lg m-auto">
              Please feel free to take your time browsing the goods I have to offer in <a class="underline text-accent hover:text-accent-focus" href="https://shop.nickinewell.art">my shop</a>. If there is something out of stock be sure to sign up at the bottom of the page to receive our missives that go out informing you of restocks and new items.
            </h2>
          </div>

        <img class="max-w-[445px] w-[80vw] md:w-[40vw] mask mask-squircle mt-8 min-w-[420px] mx-auto mt-20 md:m-0" src={CoffeeCat.src} width={CoffeeCat.width} height={CoffeeCat.height} alt="A Cat smelling great coffee." />

        </div>

      </section>
    </div>
  </body>
</html>
