---
import { Image } from "astro:assets"

import ForestScene from "~/assets/images/forest-scene.jpg";
import Logo from "~/assets/images/nicki-logo.png";
import CoffeeCat from "~/assets/images/coffee-cat.gif";

import Layout from "../layouts/default.astro";

//import { Showcase } from "../components/showcase.tsx";
---

<Layout title="Home">

  <section class="relative text-center min-h-[75vh] text-primary bg-gradient-to-b from-neutral to-secondary">
    <h1 class="text-center mx-auto text-4xl md:text-6xl pt-8 mb-4">Welcome to</h1>
    <div class="min-h-[100px] md:min-h-[275px]">
      <Image
        class="mx-auto object-contains mt-0 z-0 md:-my-[50px] lg:-my-[100px] lg:max-w-[900px]"
        width={Logo.width} height={Logo.height} src={Logo}
        alt="Nicki Newell Art"
      />
    </div>
    <p class="italic mt-16 text-xl md:text-2xl">Enter the Forest</p>
    <p class="animate-bounce mx-auto mt-8 text-4xl md:text-4xl text-warning [-webkit-text-stroke:5px_hsl(var(--primary))]">↓</p>
  </section>

  <section class="bg-secondary">
    <Image
      alt="Magical and cozy forest scene beautifully illustrated"
      class="scale-[2.15] md:scale-100 pt-[150px] sm:pt-[175px] md:pt-0"
      width={ForestScene.width}
      height={ForestScene.height}
      src={ForestScene}
    />
  </section>

  {/* TODO - fixup animation */}
  {/* <section class="relative m-0 p-0 bg-neutral-focus overflow-hidden min-h-[100vh] h-[100vh] w-[100vw]">
    <Showcase client:visible image={ForestScene} />
  </section> */}

  <div class="min-h-[30vh] bg-gradient-to-b to-base-100 from-secondary"></div>

  <section class="bg-base-100">
    <div class="relative md:flex justify-center pt-10 pb-36">

      <article class="w-[100vw] md:w-1/2 h-fit bg-secondary p-8 mt-24 z-10 mb-16 lg:py-16">
        <h2 class="text-primary mx-auto text-center text-2xl">
          Find cozy wares for purchase on my <a class="text-primary-focus hover:text-info underline" target="_blank" href="https://store.nickinewell.art">Shop</a>
        </h2>
      </article>

      <img class="max-w-[445px] w-[80vw] md:w-[40vw] mask mask-squircle mt-8 min-w-[420px] mx-auto mt-20 md:m-0" src={CoffeeCat.src} width={CoffeeCat.width} height={CoffeeCat.height} alt="A Cat smelling great coffee." />

    </div>
  </section>

</Layout>